@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
@import 'node_modules/react-modal-video/scss/modal-video.scss'; 
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes logobg {
  0% {
    background-position: 100%;
   
  }
  100% {
    background-position: 0%;
  }
}

*{
  scroll-behavior: smooth;
  
}
body{
  overflow-x: hidden;
}
.logo {
  background-image: linear-gradient(to left, #EBD8B2, #654E92, #6C9BCF, #A5C0DD, #EBD8B2);
  background-size: 400%;
  background-clip: text;
  color: transparent;
  animation: logobg 3s ease-in-out infinite alternate-reverse;
}

.contactImg{
  background-image: url('https://img.freepik.com/premium-vector/technical-support-icon-made-with-binary-code-customer-help-online-tech-support-customer-service-business-technology-concept-digital-matrix-background-with-digits-1-0-vector-illustration_127544-1853.jpg?w=996');
  background-position: 100% 50%;
  background-size: cover;
}
.navbg{
  @apply bg-[url('https://images.unsplash.com/photo-1508615039623-a25605d2b022?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGRvdHRlZCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60')] bg-cover bg-no-repeat;
  background-position: 100% 100%;
   
}
.cabin{
    font-family: 'Cabin', sans-serif;
}
--PhoneInputCountryFlag-height{
height: 20px;
}